site_name: iscc-search
repo_url: https://github.com/iscc/iscc-search
site_url: https://search.iscc.codes
site_description: High-performance ISCC similarity search engine
site_author: Titusz Pan
edit_uri: edit/main/docs/
repo_name: iscc/iscc-search
copyright: Maintained by <a href="https://iscc.io">ISCC Foundation</a>.

nav:
  - Home: index.md
  - Concept: concept.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["iscc_search"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/iscc/iscc-search
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/iscc-search

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
